@font-face {
    font-family: "Hobby Club Italic";
    src: url(src/fonts/HobbyClub3-SharpItalic.otf);
}

@font-face {
    font-family: "Hobby Club Regular";
    src: url(src/fonts/HobbyClub3-Sharp.otf);
}

@font-face {
    font-family: Old Standard;
    src: url(src/fonts/OldStandard-Italic.ttf);
}

@font-face {
    font-family: Pic Nic;
    src: url(src/fonts/PicNic-Regular.otf);
}

/* PRE DINGEN */

html {
    background-color: black;
}

body {
    margin: 0;
}

p::-moz-selection { /* Code for Firefox */
    color: rgb(44, 21, 255);
    background: rgb(248, 48, 255);
  }
  
p::selection {
    color: rgb(44, 21, 255);
    background: rgb(247, 0, 255);
}

h1::-moz-selection { /* Code for Firefox */
    color: rgb(44, 21, 255);
    background: rgb(248, 48, 255);
  }
  
h1::selection {
    color: rgb(44, 21, 255);
    background: rgb(247, 0, 255);
}

li::-moz-selection { /* Code for Firefox */
    color: rgb(44, 21, 255);
    background: rgb(248, 48, 255);
  }
  
li::selection {
    color: rgb(44, 21, 255);
    background: rgb(247, 0, 255);
}

ul::-moz-selection { /* Code for Firefox */
    color: rgb(44, 21, 255);
    background: rgb(248, 48, 255);
  }
  
ul::selection {
    color: rgb(44, 21, 255);
    background: rgb(247, 0, 255);
}

mark::-moz-selection { /* Code for Firefox */
    color: rgb(44, 21, 255);
    background: rgb(248, 48, 255);
  }
  
mark::selection {
    color: rgb(44, 21, 255);
    background: rgb(247, 0, 255);
}

mark {
    font-family: "Hobby Club Italic";
    background-color: rgba(255, 255, 255, 0);
}

img {
    margin: 0;
}

p {
    font-family: "Hobby Club Regular";
    margin: 0 1rem 1rem 1rem;
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 500px;
}

.name {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    padding: 15px 0 15px 0;
}

.black p {
    color: white;
}

.speeldata li{
    color: rgb(0, 0, 0);
}

.black mark {
    color: white;
}

.promobeeld {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin: 2rem auto 2rem auto;
}

h1.sub-title {
    text-align: center;
    list-style: none;
    -webkit-text-stroke: 2px solid rgb(0, 183, 255);
    width: fit-content;
    color: rgb(0, 183, 255);
    font-family: "Hobby Club Italic";
    font-size: 1.5rem;
    padding-left: 15px;
}

h1.sub-title-about {
    text-align: center;
    list-style: none;
    -webkit-text-stroke: 2px solid rgb(0, 183, 255);
    width: fit-content;
    color: rgb(0, 183, 255);
    font-family: "Hobby Club Italic";
    font-size: 1.5rem;
    padding-left: 15px;
    padding-top: 15px;
}

/* DESCRIPTION */

.title {
    font-family: "Pic Nic";
    font-size: 2.7rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    color: rgb(0, 183, 255);
}

/* LISTS */
.container-fix {
    display: flex;
    flex-direction: row;
}

.credits {
    margin: 0 1rem 2rem 1rem;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    max-width: 500px;
}

.list-title {
    list-style: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.name {
    margin-left: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
    font-family: "Hobby Club Regular";
    font-size: 1rem;
    line-height: 1.3rem;
    list-style: none;
    margin-left: 0.1rem;
    color: white;
}

.speeldata{
    margin: 1rem;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    max-width: 500px;
}

.speeldata p {
    color: black;
}

.speeldata .list-title {
    list-style: none;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
       }

   .title {
    margin: 0 auto 2rem auto;
    font-size: 5rem;
    line-height: 4.2rem;
   }

   body {
    background-color: black;
   }

   .promobeeld {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 2rem auto 2rem auto;
   }

   .margin{
    height: 2rem;
   }

   .speeldata, .description {
    background-color: white;
   }

   .credits {
    padding-bottom: 20px;
   }

  }