@font-face {
    font-family: "Hobby Club Italic";
    src: url(src/fonts/HobbyClub3-SharpItalic.otf);
}

@font-face {
    font-family: "Hobby Club Regular";
    src: url(src/fonts/HobbyClub3-Sharp.otf);
}

@font-face {
    font-family: Old Standard;
    src: url(src/fonts/OldStandard-Italic.ttf);
}

@font-face {
    font-family: Pic Nic;
    src: url(src/fonts/PicNic-Regular.otf);
}

/* PRE DINGEN */

html {
    background-color: black;
}

body {
    margin: 15px;
}

a  {
    color: red;
    text-decoration: none;
}

a:hover  {
    color: red;
    text-decoration: underline;
}

p::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(248, 48, 255);
  }
  
p::selection {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 255);
}

h1::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(248, 48, 255);
  }
  
h1::selection {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 255);
}

li::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(248, 48, 255);
  }
  
li::selection {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 255);
}

ul::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(248, 48, 255);
  }
  
ul::selection {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 255);
}

mark::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(248, 48, 255);
  }
  
mark::selection {
    color: rgb(255, 255, 255);
    background: rgb(247, 0, 255);
}

mark {
    font-family: "Hobby Club Italic";
    background-color: rgba(255, 255, 255, 0);
}

img {
    margin: 0;
}

p {
    font-family: "Hobby Club Regular";
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 550px;
}

.white {
    margin: 0.5rem auto 2rem auto;
   }
   .black {
    margin: 2rem auto 2rem auto;
   }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.language-button {
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 5px;
    width: 100px;
    justify-content: center;
}

.language {
    color:  rgb(247, 0, 255);
    text-decoration: none;
}

a.language:hover {
    text-decoration: underline;

}

.edu-button {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0 5px;
}

.edu {
    color:  rgb(247, 0, 255);
    text-decoration: none;
}

.edu:hover {
    text-decoration: underline;
}

.home {
    font-family: "Hobby Club Regular";
    font-size: 1rem;
    line-height: 1.3rem;
    color:  rgb(247, 0, 255);
    margin: 0 0 0 15px;
}


.name {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.black {
    background-color: black;
    max-width: 550px;
}

.white {
    background-color: white;
    padding: 2px 0 2px 0;
    width: fit-content;
}

.black p {
    color: white;
}


.black mark {
    color: white;
}


.promobeeld {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 585px;
    margin: 0.6rem auto 2rem auto;
}


h1.sub-title {
    text-align: center;
    list-style: none;
    -webkit-text-stroke: 2px solid rgb(0, 183, 255);
    width: fit-content;
    color: rgb(0, 183, 255);
    font-family: "Hobby Club Italic";
    font-size: 1.5rem;
    padding-left: 15px;
    padding-top: 20px;
}

h1.sub-title-about {
    text-align: center;
    list-style: none;
    -webkit-text-stroke: 2px solid rgb(0, 183, 255);
    width: fit-content;
    color: rgb(0, 183, 255);
    font-family: "Hobby Club Italic";
    font-size: 1.5rem;
    padding-left: 15px;
    padding-top: 20px;
}

/* DESCRIPTION */
.description {
    margin: 0 1rem 1rem 1rem;
}

.title {
    font-family: "Pic Nic";
    font-size: 2.7rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    color: rgb(0, 183, 255);
}

/* BIOS */
.bio-text{
    width: fit-content;
}

/* LISTS */
.container-fix {
    display: flex;
    flex-direction: row;
}

.list-title {
    margin-top: 0.5rem;
    list-style: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/* CREDITS */
.seasons {
    display: flex;
    flex-direction: row;
}

.season1 {
    width: 50%;
}

.credits {
    display: flex;
    flex-direction: row;
    }
    
    .credits p {
        line-height: 1.3rem;
    }
    
    .credits1 {
        width: 50%;
    }
    
    .credits2 {
        width: 50%;
    }

.credit-group {
    margin-bottom: 1.5rem;
}

.credit-title {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    margin: 0;
}

.credit-name {
    margin: 0 0 0 2rem;
}

.list-theater {
    text-align: left;
    font-family: "Hobby Club Regular";
    font-size: 1rem;
    line-height: 1.3rem;
    list-style: none;
    margin-left: 0.1rem;
    color: rgb(255, 255, 255);
}

.speeldata{
    margin: 0 0 0 1rem;
    max-width: 550px;
    color: white;
}

.speeldata p {
    color: rgb(255, 255, 255);
}

.speeldata .list-title {
    list-style: none;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: "Hobby Club Regular";

}

/* CREDITS */

video {
    width: 100%;
   
}

/* EDU-PAKKET */
.iframe-wrap{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

iframe {
    height: 100vh;
    width: 40vw;
    height: 580px;
    max-width: 400px;
    margin: 5vh 0 0 15px;

}

/* DESKTOP */
@media screen and (min-width: 610px) {
.language-button{
    margin-left: 15px;
}

.edu-button{
    margin-right: 15px;
}

.iframe-wrap {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 5px;
}

}

@media screen and (min-width: 992px) {

    .wrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
       }

   .title {
    margin: 0 auto 2rem auto;
    font-size: 5rem;
    line-height: 4.2rem;
   }

   body {
    background-color: black;
   }



   .margin{
    height: 2rem;
   }

   .description {
    background-color: white;
   }

   .credits {
    padding-bottom: 20px;
   }

   video{
    max-width: 550px;
   }



  }